.jumbotron
  .container
    h1
      img.img-responsive(src="./favicon.ico")
      | #{site.title}
    p #{site.description}
    p
      a.btn.btn-primary.btn-lg(href="./wiki/about.md#", role="button") Saiba mais...
