h1 Ícones

p Ícones da #[a(href="http://fontawesome.io",target="_blank") Font Awesome] disponíveis:

table
  tbody
    tr
      td
        i.fa.fa-2x.fa-glass
      td fa-glass

    tr
      td
        i.fa.fa-2x.fa-music
      td fa-music

    tr
      td
        i.fa.fa-2x.fa-search
      td fa-search

    tr
      td
        i.fa.fa-2x.fa-envelope-o
      td fa-envelope-o

    tr
      td
        i.fa.fa-2x.fa-heart
      td fa-heart

    tr
      td
        i.fa.fa-2x.fa-star
      td fa-star

    tr
      td
        i.fa.fa-2x.fa-star-o
      td fa-star-o

    tr
      td
        i.fa.fa-2x.fa-user
      td fa-user

    tr
      td
        i.fa.fa-2x.fa-film
      td fa-film

    tr
      td
        i.fa.fa-2x.fa-th-large
      td fa-th-large

    tr
      td
        i.fa.fa-2x.fa-th
      td fa-th

    tr
      td
        i.fa.fa-2x.fa-th-list
      td fa-th-list

    tr
      td
        i.fa.fa-2x.fa-check
      td fa-check

    tr
      td
        i.fa.fa-2x.fa-remove
      td fa-remove

    tr
      td
        i.fa.fa-2x.fa-close
      td fa-close

    tr
      td
        i.fa.fa-2x.fa-times
      td fa-times

    tr
      td
        i.fa.fa-2x.fa-search-plus
      td fa-search-plus

    tr
      td
        i.fa.fa-2x.fa-search-minus
      td fa-search-minus

    tr
      td
        i.fa.fa-2x.fa-power-off
      td fa-power-off

    tr
      td
        i.fa.fa-2x.fa-signal
      td fa-signal

    tr
      td
        i.fa.fa-2x.fa-gear
      td fa-gear

    tr
      td
        i.fa.fa-2x.fa-cog
      td fa-cog

    tr
      td
        i.fa.fa-2x.fa-trash-o
      td fa-trash-o

    tr
      td
        i.fa.fa-2x.fa-home
      td fa-home

    tr
      td
        i.fa.fa-2x.fa-file-o
      td fa-file-o

    tr
      td
        i.fa.fa-2x.fa-clock-o
      td fa-clock-o

    tr
      td
        i.fa.fa-2x.fa-road
      td fa-road

    tr
      td
        i.fa.fa-2x.fa-download
      td fa-download

    tr
      td
        i.fa.fa-2x.fa-arrow-circle-o-down
      td fa-arrow-circle-o-down

    tr
      td
        i.fa.fa-2x.fa-arrow-circle-o-up
      td fa-arrow-circle-o-up

    tr
      td
        i.fa.fa-2x.fa-inbox
      td fa-inbox

    tr
      td
        i.fa.fa-2x.fa-play-circle-o
      td fa-play-circle-o

    tr
      td
        i.fa.fa-2x.fa-rotate-right
      td fa-rotate-right

    tr
      td
        i.fa.fa-2x.fa-repeat
      td fa-repeat

    tr
      td
        i.fa.fa-2x.fa-refresh
      td fa-refresh

    tr
      td
        i.fa.fa-2x.fa-list-alt
      td fa-list-alt

    tr
      td
        i.fa.fa-2x.fa-lock
      td fa-lock

    tr
      td
        i.fa.fa-2x.fa-flag
      td fa-flag

    tr
      td
        i.fa.fa-2x.fa-headphones
      td fa-headphones

    tr
      td
        i.fa.fa-2x.fa-volume-off
      td fa-volume-off

    tr
      td
        i.fa.fa-2x.fa-volume-down
      td fa-volume-down

    tr
      td
        i.fa.fa-2x.fa-volume-up
      td fa-volume-up

    tr
      td
        i.fa.fa-2x.fa-qrcode
      td fa-qrcode

    tr
      td
        i.fa.fa-2x.fa-barcode
      td fa-barcode

    tr
      td
        i.fa.fa-2x.fa-tag
      td fa-tag

    tr
      td
        i.fa.fa-2x.fa-tags
      td fa-tags

    tr
      td
        i.fa.fa-2x.fa-book
      td fa-book

    tr
      td
        i.fa.fa-2x.fa-bookmark
      td fa-bookmark

    tr
      td
        i.fa.fa-2x.fa-print
      td fa-print

    tr
      td
        i.fa.fa-2x.fa-camera
      td fa-camera

    tr
      td
        i.fa.fa-2x.fa-font
      td fa-font

    tr
      td
        i.fa.fa-2x.fa-bold
      td fa-bold

    tr
      td
        i.fa.fa-2x.fa-italic
      td fa-italic

    tr
      td
        i.fa.fa-2x.fa-text-height
      td fa-text-height

    tr
      td
        i.fa.fa-2x.fa-text-width
      td fa-text-width

    tr
      td
        i.fa.fa-2x.fa-align-left
      td fa-align-left

    tr
      td
        i.fa.fa-2x.fa-align-center
      td fa-align-center

    tr
      td
        i.fa.fa-2x.fa-align-right
      td fa-align-right

    tr
      td
        i.fa.fa-2x.fa-align-justify
      td fa-align-justify

    tr
      td
        i.fa.fa-2x.fa-list
      td fa-list

    tr
      td
        i.fa.fa-2x.fa-dedent
      td fa-dedent

    tr
      td
        i.fa.fa-2x.fa-outdent
      td fa-outdent

    tr
      td
        i.fa.fa-2x.fa-indent
      td fa-indent

    tr
      td
        i.fa.fa-2x.fa-video-camera
      td fa-video-camera

    tr
      td
        i.fa.fa-2x.fa-photo
      td fa-photo

    tr
      td
        i.fa.fa-2x.fa-image
      td fa-image

    tr
      td
        i.fa.fa-2x.fa-picture-o
      td fa-picture-o

    tr
      td
        i.fa.fa-2x.fa-pencil
      td fa-pencil

    tr
      td
        i.fa.fa-2x.fa-map-marker
      td fa-map-marker

    tr
      td
        i.fa.fa-2x.fa-adjust
      td fa-adjust

    tr
      td
        i.fa.fa-2x.fa-tint
      td fa-tint

    tr
      td
        i.fa.fa-2x.fa-edit
      td fa-edit

    tr
      td
        i.fa.fa-2x.fa-pencil-square-o
      td fa-pencil-square-o

    tr
      td
        i.fa.fa-2x.fa-share-square-o
      td fa-share-square-o

    tr
      td
        i.fa.fa-2x.fa-check-square-o
      td fa-check-square-o

    tr
      td
        i.fa.fa-2x.fa-arrows
      td fa-arrows

    tr
      td
        i.fa.fa-2x.fa-step-backward
      td fa-step-backward

    tr
      td
        i.fa.fa-2x.fa-fast-backward
      td fa-fast-backward

    tr
      td
        i.fa.fa-2x.fa-backward
      td fa-backward

    tr
      td
        i.fa.fa-2x.fa-play
      td fa-play

    tr
      td
        i.fa.fa-2x.fa-pause
      td fa-pause

    tr
      td
        i.fa.fa-2x.fa-stop
      td fa-stop

    tr
      td
        i.fa.fa-2x.fa-forward
      td fa-forward

    tr
      td
        i.fa.fa-2x.fa-fast-forward
      td fa-fast-forward

    tr
      td
        i.fa.fa-2x.fa-step-forward
      td fa-step-forward

    tr
      td
        i.fa.fa-2x.fa-eject
      td fa-eject

    tr
      td
        i.fa.fa-2x.fa-chevron-left
      td fa-chevron-left

    tr
      td
        i.fa.fa-2x.fa-chevron-right
      td fa-chevron-right

    tr
      td
        i.fa.fa-2x.fa-plus-circle
      td fa-plus-circle

    tr
      td
        i.fa.fa-2x.fa-minus-circle
      td fa-minus-circle

    tr
      td
        i.fa.fa-2x.fa-times-circle
      td fa-times-circle

    tr
      td
        i.fa.fa-2x.fa-check-circle
      td fa-check-circle

    tr
      td
        i.fa.fa-2x.fa-question-circle
      td fa-question-circle

    tr
      td
        i.fa.fa-2x.fa-info-circle
      td fa-info-circle

    tr
      td
        i.fa.fa-2x.fa-crosshairs
      td fa-crosshairs

    tr
      td
        i.fa.fa-2x.fa-times-circle-o
      td fa-times-circle-o

    tr
      td
        i.fa.fa-2x.fa-check-circle-o
      td fa-check-circle-o

    tr
      td
        i.fa.fa-2x.fa-ban
      td fa-ban

    tr
      td
        i.fa.fa-2x.fa-arrow-left
      td fa-arrow-left

    tr
      td
        i.fa.fa-2x.fa-arrow-right
      td fa-arrow-right

    tr
      td
        i.fa.fa-2x.fa-arrow-up
      td fa-arrow-up

    tr
      td
        i.fa.fa-2x.fa-arrow-down
      td fa-arrow-down

    tr
      td
        i.fa.fa-2x.fa-mail-forward
      td fa-mail-forward

    tr
      td
        i.fa.fa-2x.fa-share
      td fa-share

    tr
      td
        i.fa.fa-2x.fa-expand
      td fa-expand

    tr
      td
        i.fa.fa-2x.fa-compress
      td fa-compress

    tr
      td
        i.fa.fa-2x.fa-plus
      td fa-plus

    tr
      td
        i.fa.fa-2x.fa-minus
      td fa-minus

    tr
      td
        i.fa.fa-2x.fa-asterisk
      td fa-asterisk

    tr
      td
        i.fa.fa-2x.fa-exclamation-circle
      td fa-exclamation-circle

    tr
      td
        i.fa.fa-2x.fa-gift
      td fa-gift

    tr
      td
        i.fa.fa-2x.fa-leaf
      td fa-leaf

    tr
      td
        i.fa.fa-2x.fa-fire
      td fa-fire

    tr
      td
        i.fa.fa-2x.fa-eye
      td fa-eye

    tr
      td
        i.fa.fa-2x.fa-eye-slash
      td fa-eye-slash

    tr
      td
        i.fa.fa-2x.fa-warning
      td fa-warning

    tr
      td
        i.fa.fa-2x.fa-exclamation-triangle
      td fa-exclamation-triangle

    tr
      td
        i.fa.fa-2x.fa-plane
      td fa-plane

    tr
      td
        i.fa.fa-2x.fa-calendar
      td fa-calendar

    tr
      td
        i.fa.fa-2x.fa-random
      td fa-random

    tr
      td
        i.fa.fa-2x.fa-comment
      td fa-comment

    tr
      td
        i.fa.fa-2x.fa-magnet
      td fa-magnet

    tr
      td
        i.fa.fa-2x.fa-chevron-up
      td fa-chevron-up

    tr
      td
        i.fa.fa-2x.fa-chevron-down
      td fa-chevron-down

    tr
      td
        i.fa.fa-2x.fa-retweet
      td fa-retweet

    tr
      td
        i.fa.fa-2x.fa-shopping-cart
      td fa-shopping-cart

    tr
      td
        i.fa.fa-2x.fa-folder
      td fa-folder

    tr
      td
        i.fa.fa-2x.fa-folder-open
      td fa-folder-open

    tr
      td
        i.fa.fa-2x.fa-arrows-v
      td fa-arrows-v

    tr
      td
        i.fa.fa-2x.fa-arrows-h
      td fa-arrows-h

    tr
      td
        i.fa.fa-2x.fa-bar-chart-o
      td fa-bar-chart-o

    tr
      td
        i.fa.fa-2x.fa-bar-chart
      td fa-bar-chart

    tr
      td
        i.fa.fa-2x.fa-twitter-square
      td fa-twitter-square

    tr
      td
        i.fa.fa-2x.fa-facebook-square
      td fa-facebook-square

    tr
      td
        i.fa.fa-2x.fa-camera-retro
      td fa-camera-retro

    tr
      td
        i.fa.fa-2x.fa-key
      td fa-key

    tr
      td
        i.fa.fa-2x.fa-gears
      td fa-gears

    tr
      td
        i.fa.fa-2x.fa-cogs
      td fa-cogs

    tr
      td
        i.fa.fa-2x.fa-comments
      td fa-comments

    tr
      td
        i.fa.fa-2x.fa-thumbs-o-up
      td fa-thumbs-o-up

    tr
      td
        i.fa.fa-2x.fa-thumbs-o-down
      td fa-thumbs-o-down

    tr
      td
        i.fa.fa-2x.fa-star-half
      td fa-star-half

    tr
      td
        i.fa.fa-2x.fa-heart-o
      td fa-heart-o

    tr
      td
        i.fa.fa-2x.fa-sign-out
      td fa-sign-out

    tr
      td
        i.fa.fa-2x.fa-linkedin-square
      td fa-linkedin-square

    tr
      td
        i.fa.fa-2x.fa-thumb-tack
      td fa-thumb-tack

    tr
      td
        i.fa.fa-2x.fa-external-link
      td fa-external-link

    tr
      td
        i.fa.fa-2x.fa-sign-in
      td fa-sign-in

    tr
      td
        i.fa.fa-2x.fa-trophy
      td fa-trophy

    tr
      td
        i.fa.fa-2x.fa-github-square
      td fa-github-square

    tr
      td
        i.fa.fa-2x.fa-upload
      td fa-upload

    tr
      td
        i.fa.fa-2x.fa-lemon-o
      td fa-lemon-o

    tr
      td
        i.fa.fa-2x.fa-phone
      td fa-phone

    tr
      td
        i.fa.fa-2x.fa-square-o
      td fa-square-o

    tr
      td
        i.fa.fa-2x.fa-bookmark-o
      td fa-bookmark-o

    tr
      td
        i.fa.fa-2x.fa-phone-square
      td fa-phone-square

    tr
      td
        i.fa.fa-2x.fa-twitter
      td fa-twitter

    tr
      td
        i.fa.fa-2x.fa-facebook-f
      td fa-facebook-f

    tr
      td
        i.fa.fa-2x.fa-facebook
      td fa-facebook

    tr
      td
        i.fa.fa-2x.fa-github
      td fa-github

    tr
      td
        i.fa.fa-2x.fa-unlock
      td fa-unlock

    tr
      td
        i.fa.fa-2x.fa-credit-card
      td fa-credit-card

    tr
      td
        i.fa.fa-2x.fa-rss
      td fa-rss

    tr
      td
        i.fa.fa-2x.fa-hdd-o
      td fa-hdd-o

    tr
      td
        i.fa.fa-2x.fa-bullhorn
      td fa-bullhorn

    tr
      td
        i.fa.fa-2x.fa-bell
      td fa-bell

    tr
      td
        i.fa.fa-2x.fa-certificate
      td fa-certificate

    tr
      td
        i.fa.fa-2x.fa-hand-o-right
      td fa-hand-o-right

    tr
      td
        i.fa.fa-2x.fa-hand-o-left
      td fa-hand-o-left

    tr
      td
        i.fa.fa-2x.fa-hand-o-up
      td fa-hand-o-up

    tr
      td
        i.fa.fa-2x.fa-hand-o-down
      td fa-hand-o-down

    tr
      td
        i.fa.fa-2x.fa-arrow-circle-left
      td fa-arrow-circle-left

    tr
      td
        i.fa.fa-2x.fa-arrow-circle-right
      td fa-arrow-circle-right

    tr
      td
        i.fa.fa-2x.fa-arrow-circle-up
      td fa-arrow-circle-up

    tr
      td
        i.fa.fa-2x.fa-arrow-circle-down
      td fa-arrow-circle-down

    tr
      td
        i.fa.fa-2x.fa-globe
      td fa-globe

    tr
      td
        i.fa.fa-2x.fa-wrench
      td fa-wrench

    tr
      td
        i.fa.fa-2x.fa-tasks
      td fa-tasks

    tr
      td
        i.fa.fa-2x.fa-filter
      td fa-filter

    tr
      td
        i.fa.fa-2x.fa-briefcase
      td fa-briefcase

    tr
      td
        i.fa.fa-2x.fa-arrows-alt
      td fa-arrows-alt

    tr
      td
        i.fa.fa-2x.fa-group
      td fa-group

    tr
      td
        i.fa.fa-2x.fa-users
      td fa-users

    tr
      td
        i.fa.fa-2x.fa-chain
      td fa-chain

    tr
      td
        i.fa.fa-2x.fa-link
      td fa-link

    tr
      td
        i.fa.fa-2x.fa-cloud
      td fa-cloud

    tr
      td
        i.fa.fa-2x.fa-flask
      td fa-flask

    tr
      td
        i.fa.fa-2x.fa-cut
      td fa-cut

    tr
      td
        i.fa.fa-2x.fa-scissors
      td fa-scissors

    tr
      td
        i.fa.fa-2x.fa-copy
      td fa-copy

    tr
      td
        i.fa.fa-2x.fa-files-o
      td fa-files-o

    tr
      td
        i.fa.fa-2x.fa-paperclip
      td fa-paperclip

    tr
      td
        i.fa.fa-2x.fa-save
      td fa-save

    tr
      td
        i.fa.fa-2x.fa-floppy-o
      td fa-floppy-o

    tr
      td
        i.fa.fa-2x.fa-square
      td fa-square

    tr
      td
        i.fa.fa-2x.fa-navicon
      td fa-navicon

    tr
      td
        i.fa.fa-2x.fa-reorder
      td fa-reorder

    tr
      td
        i.fa.fa-2x.fa-bars
      td fa-bars

    tr
      td
        i.fa.fa-2x.fa-list-ul
      td fa-list-ul

    tr
      td
        i.fa.fa-2x.fa-list-ol
      td fa-list-ol

    tr
      td
        i.fa.fa-2x.fa-strikethrough
      td fa-strikethrough

    tr
      td
        i.fa.fa-2x.fa-underline
      td fa-underline

    tr
      td
        i.fa.fa-2x.fa-table
      td fa-table

    tr
      td
        i.fa.fa-2x.fa-magic
      td fa-magic

    tr
      td
        i.fa.fa-2x.fa-truck
      td fa-truck

    tr
      td
        i.fa.fa-2x.fa-pinterest
      td fa-pinterest

    tr
      td
        i.fa.fa-2x.fa-pinterest-square
      td fa-pinterest-square

    tr
      td
        i.fa.fa-2x.fa-google-plus-square
      td fa-google-plus-square

    tr
      td
        i.fa.fa-2x.fa-google-plus
      td fa-google-plus

    tr
      td
        i.fa.fa-2x.fa-money
      td fa-money

    tr
      td
        i.fa.fa-2x.fa-caret-down
      td fa-caret-down

    tr
      td
        i.fa.fa-2x.fa-caret-up
      td fa-caret-up

    tr
      td
        i.fa.fa-2x.fa-caret-left
      td fa-caret-left

    tr
      td
        i.fa.fa-2x.fa-caret-right
      td fa-caret-right

    tr
      td
        i.fa.fa-2x.fa-columns
      td fa-columns

    tr
      td
        i.fa.fa-2x.fa-unsorted
      td fa-unsorted

    tr
      td
        i.fa.fa-2x.fa-sort
      td fa-sort

    tr
      td
        i.fa.fa-2x.fa-sort-down
      td fa-sort-down

    tr
      td
        i.fa.fa-2x.fa-sort-desc
      td fa-sort-desc

    tr
      td
        i.fa.fa-2x.fa-sort-up
      td fa-sort-up

    tr
      td
        i.fa.fa-2x.fa-sort-asc
      td fa-sort-asc

    tr
      td
        i.fa.fa-2x.fa-envelope
      td fa-envelope

    tr
      td
        i.fa.fa-2x.fa-linkedin
      td fa-linkedin

    tr
      td
        i.fa.fa-2x.fa-rotate-left
      td fa-rotate-left

    tr
      td
        i.fa.fa-2x.fa-undo
      td fa-undo

    tr
      td
        i.fa.fa-2x.fa-legal
      td fa-legal

    tr
      td
        i.fa.fa-2x.fa-gavel
      td fa-gavel

    tr
      td
        i.fa.fa-2x.fa-dashboard
      td fa-dashboard

    tr
      td
        i.fa.fa-2x.fa-tachometer
      td fa-tachometer

    tr
      td
        i.fa.fa-2x.fa-comment-o
      td fa-comment-o

    tr
      td
        i.fa.fa-2x.fa-comments-o
      td fa-comments-o

    tr
      td
        i.fa.fa-2x.fa-flash
      td fa-flash

    tr
      td
        i.fa.fa-2x.fa-bolt
      td fa-bolt

    tr
      td
        i.fa.fa-2x.fa-sitemap
      td fa-sitemap

    tr
      td
        i.fa.fa-2x.fa-umbrella
      td fa-umbrella

    tr
      td
        i.fa.fa-2x.fa-paste
      td fa-paste

    tr
      td
        i.fa.fa-2x.fa-clipboard
      td fa-clipboard

    tr
      td
        i.fa.fa-2x.fa-lightbulb-o
      td fa-lightbulb-o

    tr
      td
        i.fa.fa-2x.fa-exchange
      td fa-exchange

    tr
      td
        i.fa.fa-2x.fa-cloud-download
      td fa-cloud-download

    tr
      td
        i.fa.fa-2x.fa-cloud-upload
      td fa-cloud-upload

    tr
      td
        i.fa.fa-2x.fa-user-md
      td fa-user-md

    tr
      td
        i.fa.fa-2x.fa-stethoscope
      td fa-stethoscope

    tr
      td
        i.fa.fa-2x.fa-suitcase
      td fa-suitcase

    tr
      td
        i.fa.fa-2x.fa-bell-o
      td fa-bell-o

    tr
      td
        i.fa.fa-2x.fa-coffee
      td fa-coffee

    tr
      td
        i.fa.fa-2x.fa-cutlery
      td fa-cutlery

    tr
      td
        i.fa.fa-2x.fa-file-text-o
      td fa-file-text-o

    tr
      td
        i.fa.fa-2x.fa-building-o
      td fa-building-o

    tr
      td
        i.fa.fa-2x.fa-hospital-o
      td fa-hospital-o

    tr
      td
        i.fa.fa-2x.fa-ambulance
      td fa-ambulance

    tr
      td
        i.fa.fa-2x.fa-medkit
      td fa-medkit

    tr
      td
        i.fa.fa-2x.fa-fighter-jet
      td fa-fighter-jet

    tr
      td
        i.fa.fa-2x.fa-beer
      td fa-beer

    tr
      td
        i.fa.fa-2x.fa-h-square
      td fa-h-square

    tr
      td
        i.fa.fa-2x.fa-plus-square
      td fa-plus-square

    tr
      td
        i.fa.fa-2x.fa-angle-double-left
      td fa-angle-double-left

    tr
      td
        i.fa.fa-2x.fa-angle-double-right
      td fa-angle-double-right

    tr
      td
        i.fa.fa-2x.fa-angle-double-up
      td fa-angle-double-up

    tr
      td
        i.fa.fa-2x.fa-angle-double-down
      td fa-angle-double-down

    tr
      td
        i.fa.fa-2x.fa-angle-left
      td fa-angle-left

    tr
      td
        i.fa.fa-2x.fa-angle-right
      td fa-angle-right

    tr
      td
        i.fa.fa-2x.fa-angle-up
      td fa-angle-up

    tr
      td
        i.fa.fa-2x.fa-angle-down
      td fa-angle-down

    tr
      td
        i.fa.fa-2x.fa-desktop
      td fa-desktop

    tr
      td
        i.fa.fa-2x.fa-laptop
      td fa-laptop

    tr
      td
        i.fa.fa-2x.fa-tablet
      td fa-tablet

    tr
      td
        i.fa.fa-2x.fa-mobile-phone
      td fa-mobile-phone

    tr
      td
        i.fa.fa-2x.fa-mobile
      td fa-mobile

    tr
      td
        i.fa.fa-2x.fa-circle-o
      td fa-circle-o

    tr
      td
        i.fa.fa-2x.fa-quote-left
      td fa-quote-left

    tr
      td
        i.fa.fa-2x.fa-quote-right
      td fa-quote-right

    tr
      td
        i.fa.fa-2x.fa-spinner
      td fa-spinner

    tr
      td
        i.fa.fa-2x.fa-circle
      td fa-circle

    tr
      td
        i.fa.fa-2x.fa-mail-reply
      td fa-mail-reply

    tr
      td
        i.fa.fa-2x.fa-reply
      td fa-reply

    tr
      td
        i.fa.fa-2x.fa-github-alt
      td fa-github-alt

    tr
      td
        i.fa.fa-2x.fa-folder-o
      td fa-folder-o

    tr
      td
        i.fa.fa-2x.fa-folder-open-o
      td fa-folder-open-o

    tr
      td
        i.fa.fa-2x.fa-smile-o
      td fa-smile-o

    tr
      td
        i.fa.fa-2x.fa-frown-o
      td fa-frown-o

    tr
      td
        i.fa.fa-2x.fa-meh-o
      td fa-meh-o

    tr
      td
        i.fa.fa-2x.fa-gamepad
      td fa-gamepad

    tr
      td
        i.fa.fa-2x.fa-keyboard-o
      td fa-keyboard-o

    tr
      td
        i.fa.fa-2x.fa-flag-o
      td fa-flag-o

    tr
      td
        i.fa.fa-2x.fa-flag-checkered
      td fa-flag-checkered

    tr
      td
        i.fa.fa-2x.fa-terminal
      td fa-terminal

    tr
      td
        i.fa.fa-2x.fa-code
      td fa-code

    tr
      td
        i.fa.fa-2x.fa-mail-reply-all
      td fa-mail-reply-all

    tr
      td
        i.fa.fa-2x.fa-reply-all
      td fa-reply-all

    tr
      td
        i.fa.fa-2x.fa-star-half-empty
      td fa-star-half-empty

    tr
      td
        i.fa.fa-2x.fa-star-half-full
      td fa-star-half-full

    tr
      td
        i.fa.fa-2x.fa-star-half-o
      td fa-star-half-o

    tr
      td
        i.fa.fa-2x.fa-location-arrow
      td fa-location-arrow

    tr
      td
        i.fa.fa-2x.fa-crop
      td fa-crop

    tr
      td
        i.fa.fa-2x.fa-code-fork
      td fa-code-fork

    tr
      td
        i.fa.fa-2x.fa-unlink
      td fa-unlink

    tr
      td
        i.fa.fa-2x.fa-chain-broken
      td fa-chain-broken

    tr
      td
        i.fa.fa-2x.fa-question
      td fa-question

    tr
      td
        i.fa.fa-2x.fa-info
      td fa-info

    tr
      td
        i.fa.fa-2x.fa-exclamation
      td fa-exclamation

    tr
      td
        i.fa.fa-2x.fa-superscript
      td fa-superscript

    tr
      td
        i.fa.fa-2x.fa-subscript
      td fa-subscript

    tr
      td
        i.fa.fa-2x.fa-eraser
      td fa-eraser

    tr
      td
        i.fa.fa-2x.fa-puzzle-piece
      td fa-puzzle-piece

    tr
      td
        i.fa.fa-2x.fa-microphone
      td fa-microphone

    tr
      td
        i.fa.fa-2x.fa-microphone-slash
      td fa-microphone-slash

    tr
      td
        i.fa.fa-2x.fa-shield
      td fa-shield

    tr
      td
        i.fa.fa-2x.fa-calendar-o
      td fa-calendar-o

    tr
      td
        i.fa.fa-2x.fa-fire-extinguisher
      td fa-fire-extinguisher

    tr
      td
        i.fa.fa-2x.fa-rocket
      td fa-rocket

    tr
      td
        i.fa.fa-2x.fa-maxcdn
      td fa-maxcdn

    tr
      td
        i.fa.fa-2x.fa-chevron-circle-left
      td fa-chevron-circle-left

    tr
      td
        i.fa.fa-2x.fa-chevron-circle-right
      td fa-chevron-circle-right

    tr
      td
        i.fa.fa-2x.fa-chevron-circle-up
      td fa-chevron-circle-up

    tr
      td
        i.fa.fa-2x.fa-chevron-circle-down
      td fa-chevron-circle-down

    tr
      td
        i.fa.fa-2x.fa-html5
      td fa-html5

    tr
      td
        i.fa.fa-2x.fa-css3
      td fa-css3

    tr
      td
        i.fa.fa-2x.fa-anchor
      td fa-anchor

    tr
      td
        i.fa.fa-2x.fa-unlock-alt
      td fa-unlock-alt

    tr
      td
        i.fa.fa-2x.fa-bullseye
      td fa-bullseye

    tr
      td
        i.fa.fa-2x.fa-ellipsis-h
      td fa-ellipsis-h

    tr
      td
        i.fa.fa-2x.fa-ellipsis-v
      td fa-ellipsis-v

    tr
      td
        i.fa.fa-2x.fa-rss-square
      td fa-rss-square

    tr
      td
        i.fa.fa-2x.fa-play-circle
      td fa-play-circle

    tr
      td
        i.fa.fa-2x.fa-ticket
      td fa-ticket

    tr
      td
        i.fa.fa-2x.fa-minus-square
      td fa-minus-square

    tr
      td
        i.fa.fa-2x.fa-minus-square-o
      td fa-minus-square-o

    tr
      td
        i.fa.fa-2x.fa-level-up
      td fa-level-up

    tr
      td
        i.fa.fa-2x.fa-level-down
      td fa-level-down

    tr
      td
        i.fa.fa-2x.fa-check-square
      td fa-check-square

    tr
      td
        i.fa.fa-2x.fa-pencil-square
      td fa-pencil-square

    tr
      td
        i.fa.fa-2x.fa-external-link-square
      td fa-external-link-square

    tr
      td
        i.fa.fa-2x.fa-share-square
      td fa-share-square

    tr
      td
        i.fa.fa-2x.fa-compass
      td fa-compass

    tr
      td
        i.fa.fa-2x.fa-toggle-down
      td fa-toggle-down

    tr
      td
        i.fa.fa-2x.fa-caret-square-o-down
      td fa-caret-square-o-down

    tr
      td
        i.fa.fa-2x.fa-toggle-up
      td fa-toggle-up

    tr
      td
        i.fa.fa-2x.fa-caret-square-o-up
      td fa-caret-square-o-up

    tr
      td
        i.fa.fa-2x.fa-toggle-right
      td fa-toggle-right

    tr
      td
        i.fa.fa-2x.fa-caret-square-o-right
      td fa-caret-square-o-right

    tr
      td
        i.fa.fa-2x.fa-euro
      td fa-euro

    tr
      td
        i.fa.fa-2x.fa-eur
      td fa-eur

    tr
      td
        i.fa.fa-2x.fa-gbp
      td fa-gbp

    tr
      td
        i.fa.fa-2x.fa-dollar
      td fa-dollar

    tr
      td
        i.fa.fa-2x.fa-usd
      td fa-usd

    tr
      td
        i.fa.fa-2x.fa-rupee
      td fa-rupee

    tr
      td
        i.fa.fa-2x.fa-inr
      td fa-inr

    tr
      td
        i.fa.fa-2x.fa-cny
      td fa-cny

    tr
      td
        i.fa.fa-2x.fa-rmb
      td fa-rmb

    tr
      td
        i.fa.fa-2x.fa-yen
      td fa-yen

    tr
      td
        i.fa.fa-2x.fa-jpy
      td fa-jpy

    tr
      td
        i.fa.fa-2x.fa-ruble
      td fa-ruble

    tr
      td
        i.fa.fa-2x.fa-rouble
      td fa-rouble

    tr
      td
        i.fa.fa-2x.fa-rub
      td fa-rub

    tr
      td
        i.fa.fa-2x.fa-won
      td fa-won

    tr
      td
        i.fa.fa-2x.fa-krw
      td fa-krw

    tr
      td
        i.fa.fa-2x.fa-bitcoin
      td fa-bitcoin

    tr
      td
        i.fa.fa-2x.fa-btc
      td fa-btc

    tr
      td
        i.fa.fa-2x.fa-file
      td fa-file

    tr
      td
        i.fa.fa-2x.fa-file-text
      td fa-file-text

    tr
      td
        i.fa.fa-2x.fa-sort-alpha-asc
      td fa-sort-alpha-asc

    tr
      td
        i.fa.fa-2x.fa-sort-alpha-desc
      td fa-sort-alpha-desc

    tr
      td
        i.fa.fa-2x.fa-sort-amount-asc
      td fa-sort-amount-asc

    tr
      td
        i.fa.fa-2x.fa-sort-amount-desc
      td fa-sort-amount-desc

    tr
      td
        i.fa.fa-2x.fa-sort-numeric-asc
      td fa-sort-numeric-asc

    tr
      td
        i.fa.fa-2x.fa-sort-numeric-desc
      td fa-sort-numeric-desc

    tr
      td
        i.fa.fa-2x.fa-thumbs-up
      td fa-thumbs-up

    tr
      td
        i.fa.fa-2x.fa-thumbs-down
      td fa-thumbs-down

    tr
      td
        i.fa.fa-2x.fa-youtube-square
      td fa-youtube-square

    tr
      td
        i.fa.fa-2x.fa-youtube
      td fa-youtube

    tr
      td
        i.fa.fa-2x.fa-xing
      td fa-xing

    tr
      td
        i.fa.fa-2x.fa-xing-square
      td fa-xing-square

    tr
      td
        i.fa.fa-2x.fa-youtube-play
      td fa-youtube-play

    tr
      td
        i.fa.fa-2x.fa-dropbox
      td fa-dropbox

    tr
      td
        i.fa.fa-2x.fa-stack-overflow
      td fa-stack-overflow

    tr
      td
        i.fa.fa-2x.fa-instagram
      td fa-instagram

    tr
      td
        i.fa.fa-2x.fa-flickr
      td fa-flickr

    tr
      td
        i.fa.fa-2x.fa-adn
      td fa-adn

    tr
      td
        i.fa.fa-2x.fa-bitbucket
      td fa-bitbucket

    tr
      td
        i.fa.fa-2x.fa-bitbucket-square
      td fa-bitbucket-square

    tr
      td
        i.fa.fa-2x.fa-tumblr
      td fa-tumblr

    tr
      td
        i.fa.fa-2x.fa-tumblr-square
      td fa-tumblr-square

    tr
      td
        i.fa.fa-2x.fa-long-arrow-down
      td fa-long-arrow-down

    tr
      td
        i.fa.fa-2x.fa-long-arrow-up
      td fa-long-arrow-up

    tr
      td
        i.fa.fa-2x.fa-long-arrow-left
      td fa-long-arrow-left

    tr
      td
        i.fa.fa-2x.fa-long-arrow-right
      td fa-long-arrow-right

    tr
      td
        i.fa.fa-2x.fa-apple
      td fa-apple

    tr
      td
        i.fa.fa-2x.fa-windows
      td fa-windows

    tr
      td
        i.fa.fa-2x.fa-android
      td fa-android

    tr
      td
        i.fa.fa-2x.fa-linux
      td fa-linux

    tr
      td
        i.fa.fa-2x.fa-dribbble
      td fa-dribbble

    tr
      td
        i.fa.fa-2x.fa-skype
      td fa-skype

    tr
      td
        i.fa.fa-2x.fa-foursquare
      td fa-foursquare

    tr
      td
        i.fa.fa-2x.fa-trello
      td fa-trello

    tr
      td
        i.fa.fa-2x.fa-female
      td fa-female

    tr
      td
        i.fa.fa-2x.fa-male
      td fa-male

    tr
      td
        i.fa.fa-2x.fa-gittip
      td fa-gittip

    tr
      td
        i.fa.fa-2x.fa-gratipay
      td fa-gratipay

    tr
      td
        i.fa.fa-2x.fa-sun-o
      td fa-sun-o

    tr
      td
        i.fa.fa-2x.fa-moon-o
      td fa-moon-o

    tr
      td
        i.fa.fa-2x.fa-archive
      td fa-archive

    tr
      td
        i.fa.fa-2x.fa-bug
      td fa-bug

    tr
      td
        i.fa.fa-2x.fa-vk
      td fa-vk

    tr
      td
        i.fa.fa-2x.fa-weibo
      td fa-weibo

    tr
      td
        i.fa.fa-2x.fa-renren
      td fa-renren

    tr
      td
        i.fa.fa-2x.fa-pagelines
      td fa-pagelines

    tr
      td
        i.fa.fa-2x.fa-stack-exchange
      td fa-stack-exchange

    tr
      td
        i.fa.fa-2x.fa-arrow-circle-o-right
      td fa-arrow-circle-o-right

    tr
      td
        i.fa.fa-2x.fa-arrow-circle-o-left
      td fa-arrow-circle-o-left

    tr
      td
        i.fa.fa-2x.fa-toggle-left
      td fa-toggle-left

    tr
      td
        i.fa.fa-2x.fa-caret-square-o-left
      td fa-caret-square-o-left

    tr
      td
        i.fa.fa-2x.fa-dot-circle-o
      td fa-dot-circle-o

    tr
      td
        i.fa.fa-2x.fa-wheelchair
      td fa-wheelchair

    tr
      td
        i.fa.fa-2x.fa-vimeo-square
      td fa-vimeo-square

    tr
      td
        i.fa.fa-2x.fa-turkish-lira
      td fa-turkish-lira

    tr
      td
        i.fa.fa-2x.fa-try
      td fa-try

    tr
      td
        i.fa.fa-2x.fa-plus-square-o
      td fa-plus-square-o

    tr
      td
        i.fa.fa-2x.fa-space-shuttle
      td fa-space-shuttle

    tr
      td
        i.fa.fa-2x.fa-slack
      td fa-slack

    tr
      td
        i.fa.fa-2x.fa-envelope-square
      td fa-envelope-square

    tr
      td
        i.fa.fa-2x.fa-wordpress
      td fa-wordpress

    tr
      td
        i.fa.fa-2x.fa-openid
      td fa-openid

    tr
      td
        i.fa.fa-2x.fa-institution
      td fa-institution

    tr
      td
        i.fa.fa-2x.fa-bank
      td fa-bank

    tr
      td
        i.fa.fa-2x.fa-university
      td fa-university

    tr
      td
        i.fa.fa-2x.fa-mortar-board
      td fa-mortar-board

    tr
      td
        i.fa.fa-2x.fa-graduation-cap
      td fa-graduation-cap

    tr
      td
        i.fa.fa-2x.fa-yahoo
      td fa-yahoo

    tr
      td
        i.fa.fa-2x.fa-google
      td fa-google

    tr
      td
        i.fa.fa-2x.fa-reddit
      td fa-reddit

    tr
      td
        i.fa.fa-2x.fa-reddit-square
      td fa-reddit-square

    tr
      td
        i.fa.fa-2x.fa-stumbleupon-circle
      td fa-stumbleupon-circle

    tr
      td
        i.fa.fa-2x.fa-stumbleupon
      td fa-stumbleupon

    tr
      td
        i.fa.fa-2x.fa-delicious
      td fa-delicious

    tr
      td
        i.fa.fa-2x.fa-digg
      td fa-digg

    tr
      td
        i.fa.fa-2x.fa-pied-piper
      td fa-pied-piper

    tr
      td
        i.fa.fa-2x.fa-pied-piper-alt
      td fa-pied-piper-alt

    tr
      td
        i.fa.fa-2x.fa-drupal
      td fa-drupal

    tr
      td
        i.fa.fa-2x.fa-joomla
      td fa-joomla

    tr
      td
        i.fa.fa-2x.fa-language
      td fa-language

    tr
      td
        i.fa.fa-2x.fa-fax
      td fa-fax

    tr
      td
        i.fa.fa-2x.fa-building
      td fa-building

    tr
      td
        i.fa.fa-2x.fa-child
      td fa-child

    tr
      td
        i.fa.fa-2x.fa-paw
      td fa-paw

    tr
      td
        i.fa.fa-2x.fa-spoon
      td fa-spoon

    tr
      td
        i.fa.fa-2x.fa-cube
      td fa-cube

    tr
      td
        i.fa.fa-2x.fa-cubes
      td fa-cubes

    tr
      td
        i.fa.fa-2x.fa-behance
      td fa-behance

    tr
      td
        i.fa.fa-2x.fa-behance-square
      td fa-behance-square

    tr
      td
        i.fa.fa-2x.fa-steam
      td fa-steam

    tr
      td
        i.fa.fa-2x.fa-steam-square
      td fa-steam-square

    tr
      td
        i.fa.fa-2x.fa-recycle
      td fa-recycle

    tr
      td
        i.fa.fa-2x.fa-automobile
      td fa-automobile

    tr
      td
        i.fa.fa-2x.fa-car
      td fa-car

    tr
      td
        i.fa.fa-2x.fa-cab
      td fa-cab

    tr
      td
        i.fa.fa-2x.fa-taxi
      td fa-taxi

    tr
      td
        i.fa.fa-2x.fa-tree
      td fa-tree

    tr
      td
        i.fa.fa-2x.fa-spotify
      td fa-spotify

    tr
      td
        i.fa.fa-2x.fa-deviantart
      td fa-deviantart

    tr
      td
        i.fa.fa-2x.fa-soundcloud
      td fa-soundcloud

    tr
      td
        i.fa.fa-2x.fa-database
      td fa-database

    tr
      td
        i.fa.fa-2x.fa-file-pdf-o
      td fa-file-pdf-o

    tr
      td
        i.fa.fa-2x.fa-file-word-o
      td fa-file-word-o

    tr
      td
        i.fa.fa-2x.fa-file-excel-o
      td fa-file-excel-o

    tr
      td
        i.fa.fa-2x.fa-file-powerpoint-o
      td fa-file-powerpoint-o

    tr
      td
        i.fa.fa-2x.fa-file-photo-o
      td fa-file-photo-o

    tr
      td
        i.fa.fa-2x.fa-file-picture-o
      td fa-file-picture-o

    tr
      td
        i.fa.fa-2x.fa-file-image-o
      td fa-file-image-o

    tr
      td
        i.fa.fa-2x.fa-file-zip-o
      td fa-file-zip-o

    tr
      td
        i.fa.fa-2x.fa-file-archive-o
      td fa-file-archive-o

    tr
      td
        i.fa.fa-2x.fa-file-sound-o
      td fa-file-sound-o

    tr
      td
        i.fa.fa-2x.fa-file-audio-o
      td fa-file-audio-o

    tr
      td
        i.fa.fa-2x.fa-file-movie-o
      td fa-file-movie-o

    tr
      td
        i.fa.fa-2x.fa-file-video-o
      td fa-file-video-o

    tr
      td
        i.fa.fa-2x.fa-file-code-o
      td fa-file-code-o

    tr
      td
        i.fa.fa-2x.fa-vine
      td fa-vine

    tr
      td
        i.fa.fa-2x.fa-codepen
      td fa-codepen

    tr
      td
        i.fa.fa-2x.fa-jsfiddle
      td fa-jsfiddle

    tr
      td
        i.fa.fa-2x.fa-life-bouy
      td fa-life-bouy

    tr
      td
        i.fa.fa-2x.fa-life-buoy
      td fa-life-buoy

    tr
      td
        i.fa.fa-2x.fa-life-saver
      td fa-life-saver

    tr
      td
        i.fa.fa-2x.fa-support
      td fa-support

    tr
      td
        i.fa.fa-2x.fa-life-ring
      td fa-life-ring

    tr
      td
        i.fa.fa-2x.fa-circle-o-notch
      td fa-circle-o-notch

    tr
      td
        i.fa.fa-2x.fa-ra
      td fa-ra

    tr
      td
        i.fa.fa-2x.fa-rebel
      td fa-rebel

    tr
      td
        i.fa.fa-2x.fa-ge
      td fa-ge

    tr
      td
        i.fa.fa-2x.fa-empire
      td fa-empire

    tr
      td
        i.fa.fa-2x.fa-git-square
      td fa-git-square

    tr
      td
        i.fa.fa-2x.fa-git
      td fa-git

    tr
      td
        i.fa.fa-2x.fa-hacker-news
      td fa-hacker-news

    tr
      td
        i.fa.fa-2x.fa-tencent-weibo
      td fa-tencent-weibo

    tr
      td
        i.fa.fa-2x.fa-qq
      td fa-qq

    tr
      td
        i.fa.fa-2x.fa-wechat
      td fa-wechat

    tr
      td
        i.fa.fa-2x.fa-weixin
      td fa-weixin

    tr
      td
        i.fa.fa-2x.fa-send
      td fa-send

    tr
      td
        i.fa.fa-2x.fa-paper-plane
      td fa-paper-plane

    tr
      td
        i.fa.fa-2x.fa-send-o
      td fa-send-o

    tr
      td
        i.fa.fa-2x.fa-paper-plane-o
      td fa-paper-plane-o

    tr
      td
        i.fa.fa-2x.fa-history
      td fa-history

    tr
      td
        i.fa.fa-2x.fa-genderless
      td fa-genderless

    tr
      td
        i.fa.fa-2x.fa-circle-thin
      td fa-circle-thin

    tr
      td
        i.fa.fa-2x.fa-header
      td fa-header

    tr
      td
        i.fa.fa-2x.fa-paragraph
      td fa-paragraph

    tr
      td
        i.fa.fa-2x.fa-sliders
      td fa-sliders

    tr
      td
        i.fa.fa-2x.fa-share-alt
      td fa-share-alt

    tr
      td
        i.fa.fa-2x.fa-share-alt-square
      td fa-share-alt-square

    tr
      td
        i.fa.fa-2x.fa-bomb
      td fa-bomb

    tr
      td
        i.fa.fa-2x.fa-soccer-ball-o
      td fa-soccer-ball-o

    tr
      td
        i.fa.fa-2x.fa-futbol-o
      td fa-futbol-o

    tr
      td
        i.fa.fa-2x.fa-tty
      td fa-tty

    tr
      td
        i.fa.fa-2x.fa-binoculars
      td fa-binoculars

    tr
      td
        i.fa.fa-2x.fa-plug
      td fa-plug

    tr
      td
        i.fa.fa-2x.fa-slideshare
      td fa-slideshare

    tr
      td
        i.fa.fa-2x.fa-twitch
      td fa-twitch

    tr
      td
        i.fa.fa-2x.fa-yelp
      td fa-yelp

    tr
      td
        i.fa.fa-2x.fa-newspaper-o
      td fa-newspaper-o

    tr
      td
        i.fa.fa-2x.fa-wifi
      td fa-wifi

    tr
      td
        i.fa.fa-2x.fa-calculator
      td fa-calculator

    tr
      td
        i.fa.fa-2x.fa-paypal
      td fa-paypal

    tr
      td
        i.fa.fa-2x.fa-google-wallet
      td fa-google-wallet

    tr
      td
        i.fa.fa-2x.fa-cc-visa
      td fa-cc-visa

    tr
      td
        i.fa.fa-2x.fa-cc-mastercard
      td fa-cc-mastercard

    tr
      td
        i.fa.fa-2x.fa-cc-discover
      td fa-cc-discover

    tr
      td
        i.fa.fa-2x.fa-cc-amex
      td fa-cc-amex

    tr
      td
        i.fa.fa-2x.fa-cc-paypal
      td fa-cc-paypal

    tr
      td
        i.fa.fa-2x.fa-cc-stripe
      td fa-cc-stripe

    tr
      td
        i.fa.fa-2x.fa-bell-slash
      td fa-bell-slash

    tr
      td
        i.fa.fa-2x.fa-bell-slash-o
      td fa-bell-slash-o

    tr
      td
        i.fa.fa-2x.fa-trash
      td fa-trash

    tr
      td
        i.fa.fa-2x.fa-copyright
      td fa-copyright

    tr
      td
        i.fa.fa-2x.fa-at
      td fa-at

    tr
      td
        i.fa.fa-2x.fa-eyedropper
      td fa-eyedropper

    tr
      td
        i.fa.fa-2x.fa-paint-brush
      td fa-paint-brush

    tr
      td
        i.fa.fa-2x.fa-birthday-cake
      td fa-birthday-cake

    tr
      td
        i.fa.fa-2x.fa-area-chart
      td fa-area-chart

    tr
      td
        i.fa.fa-2x.fa-pie-chart
      td fa-pie-chart

    tr
      td
        i.fa.fa-2x.fa-line-chart
      td fa-line-chart

    tr
      td
        i.fa.fa-2x.fa-lastfm
      td fa-lastfm

    tr
      td
        i.fa.fa-2x.fa-lastfm-square
      td fa-lastfm-square

    tr
      td
        i.fa.fa-2x.fa-toggle-off
      td fa-toggle-off

    tr
      td
        i.fa.fa-2x.fa-toggle-on
      td fa-toggle-on

    tr
      td
        i.fa.fa-2x.fa-bicycle
      td fa-bicycle

    tr
      td
        i.fa.fa-2x.fa-bus
      td fa-bus

    tr
      td
        i.fa.fa-2x.fa-ioxhost
      td fa-ioxhost

    tr
      td
        i.fa.fa-2x.fa-angellist
      td fa-angellist

    tr
      td
        i.fa.fa-2x.fa-cc
      td fa-cc

    tr
      td
        i.fa.fa-2x.fa-shekel
      td fa-shekel

    tr
      td
        i.fa.fa-2x.fa-sheqel
      td fa-sheqel

    tr
      td
        i.fa.fa-2x.fa-ils
      td fa-ils

    tr
      td
        i.fa.fa-2x.fa-meanpath
      td fa-meanpath

    tr
      td
        i.fa.fa-2x.fa-buysellads
      td fa-buysellads

    tr
      td
        i.fa.fa-2x.fa-connectdevelop
      td fa-connectdevelop

    tr
      td
        i.fa.fa-2x.fa-dashcube
      td fa-dashcube

    tr
      td
        i.fa.fa-2x.fa-forumbee
      td fa-forumbee

    tr
      td
        i.fa.fa-2x.fa-leanpub
      td fa-leanpub

    tr
      td
        i.fa.fa-2x.fa-sellsy
      td fa-sellsy

    tr
      td
        i.fa.fa-2x.fa-shirtsinbulk
      td fa-shirtsinbulk

    tr
      td
        i.fa.fa-2x.fa-simplybuilt
      td fa-simplybuilt

    tr
      td
        i.fa.fa-2x.fa-skyatlas
      td fa-skyatlas

    tr
      td
        i.fa.fa-2x.fa-cart-plus
      td fa-cart-plus

    tr
      td
        i.fa.fa-2x.fa-cart-arrow-down
      td fa-cart-arrow-down

    tr
      td
        i.fa.fa-2x.fa-diamond
      td fa-diamond

    tr
      td
        i.fa.fa-2x.fa-ship
      td fa-ship

    tr
      td
        i.fa.fa-2x.fa-user-secret
      td fa-user-secret

    tr
      td
        i.fa.fa-2x.fa-motorcycle
      td fa-motorcycle

    tr
      td
        i.fa.fa-2x.fa-street-view
      td fa-street-view

    tr
      td
        i.fa.fa-2x.fa-heartbeat
      td fa-heartbeat

    tr
      td
        i.fa.fa-2x.fa-venus
      td fa-venus

    tr
      td
        i.fa.fa-2x.fa-mars
      td fa-mars

    tr
      td
        i.fa.fa-2x.fa-mercury
      td fa-mercury

    tr
      td
        i.fa.fa-2x.fa-transgender
      td fa-transgender

    tr
      td
        i.fa.fa-2x.fa-transgender-alt
      td fa-transgender-alt

    tr
      td
        i.fa.fa-2x.fa-venus-double
      td fa-venus-double

    tr
      td
        i.fa.fa-2x.fa-mars-double
      td fa-mars-double

    tr
      td
        i.fa.fa-2x.fa-venus-mars
      td fa-venus-mars

    tr
      td
        i.fa.fa-2x.fa-mars-stroke
      td fa-mars-stroke

    tr
      td
        i.fa.fa-2x.fa-mars-stroke-v
      td fa-mars-stroke-v

    tr
      td
        i.fa.fa-2x.fa-mars-stroke-h
      td fa-mars-stroke-h

    tr
      td
        i.fa.fa-2x.fa-neuter
      td fa-neuter

    tr
      td
        i.fa.fa-2x.fa-facebook-official
      td fa-facebook-official

    tr
      td
        i.fa.fa-2x.fa-pinterest-p
      td fa-pinterest-p

    tr
      td
        i.fa.fa-2x.fa-whatsapp
      td fa-whatsapp

    tr
      td
        i.fa.fa-2x.fa-server
      td fa-server

    tr
      td
        i.fa.fa-2x.fa-user-plus
      td fa-user-plus

    tr
      td
        i.fa.fa-2x.fa-user-times
      td fa-user-times

    tr
      td
        i.fa.fa-2x.fa-hotel
      td fa-hotel

    tr
      td
        i.fa.fa-2x.fa-bed
      td fa-bed

    tr
      td
        i.fa.fa-2x.fa-viacoin
      td fa-viacoin

    tr
      td
        i.fa.fa-2x.fa-train
      td fa-train

    tr
      td
        i.fa.fa-2x.fa-subway
      td fa-subway

    tr
      td
        i.fa.fa-2x.fa-medium
      td fa-medium

